<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnidenCommander.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <UnidenCommander.My.MySettings>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="FirstLoadWaitTime" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LogSerialCommandsPath" serializeAs="String">
                <value>commands.log</value>
            </setting>
            <setting name="LogSerialCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTracePath" serializeAs="String">
                <value>debug.log</value>
            </setting>
            <setting name="LogTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateButtons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionCheckUrl" serializeAs="String">
                <value>http://dx.torensma.net/files/pub/uc/current_version.xml</value>
            </setting>
            <setting name="LogReceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogReceptionsPath" serializeAs="String">
                <value>receptions.log</value>
            </setting>
            <setting name="AutoRefreshDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmptyQueueWaitTime" serializeAs="String">
                <value>150</value>
            </setting>
        </UnidenCommander.My.MySettings>
    </userSettings>
</configuration>
